@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Alkatra';
  src: url('/fonts/Alkatra-Regular.ttf') format('truetype'); /* Regular weight */
  font-weight: 400; /* Normal weight */
  font-style: normal;
}

@font-face {
  font-family: 'Alkatra';
  src: url('/fonts/Alkatra-Bold.ttf') format('truetype'); /* Bold weight */
  font-weight: 700; /* Bold weight */
  font-style: normal;
}

@font-face {
  font-family: 'Alkatra';
  src: url('/fonts/Alkatra-SemiBold.ttf') format('truetype'); /* SemiBold weight */
  font-weight: 600; /* SemiBold weight */
  font-style: normal;
}

@font-face {
  font-family: 'Alkatra';
  src: url('/fonts/Alkatra-Medium.ttf') format('truetype'); /* Medium weight */
  font-weight: 500; /* Medium weight */
  font-style: normal;
}

@font-face {
  font-family: 'Alkatra';
  src: url('/fonts/Alkatra-VariableFont_wght.ttf') format('truetype'); /* Variable weight */
  font-weight: 100 900; /* Variable weight range */
  font-style: normal;
}

:root {
  /* Light theme variables */
  --background: #ffffff;
  --background-secondary: #f3f4f6;
  --foreground: #111827;
  --foreground-secondary: #4b5563;
  --primary: #2563eb;
  --primary-hover: #1d4ed8;
  --accent: #7c3aed;
  --accent-hover: #6d28d9;
}

.dark {
  /* Dark theme variables */
  --background: #111827;
  --background-secondary: #1f2937;
  --foreground: #057ef8;
  --foreground-secondary: #045b12;
  --primary: #3b82f6;
  --primary-hover: #60a5fa;
  --accent: #8b5cf6;
  --accent-hover: #a78bfa;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: 'Alkatra', sans-serif;
}

/* Add these styles to customize the calendar appearance */
.react-calendar {
  width: 100%;
  max-width: 400px;
  background: var(--background);
  border: 1px solid var(--foreground-secondary);
  border-radius: 0.5rem;
  padding: 1rem;
}

.react-calendar__tile--active {
  background: #2563eb !important;
  color: white;
}

.react-calendar__tile--now {
  background: #484849;
}
