@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Alkatra';
  src: url('./fonts/Alkatra-Regular.ttf') format('truetype'); /* Regular weight */
  font-weight: 400; /* Normal weight */
  font-style: normal;
}

@font-face {
  font-family: 'Alkatra';
  src: url('./fonts/Alkatra-Bold.ttf') format('truetype'); /* Bold weight */
  font-weight: 700; /* Bold weight */
  font-style: normal;
}

@font-face {
  font-family: 'Alkatra';
  src: url('./fonts/Alkatra-SemiBold.ttf') format('truetype'); /* SemiBold weight */
  font-weight: 600; /* SemiBold weight */
  font-style: normal;
}

@font-face {
  font-family: 'Alkatra';
  src: url('./fonts/Alkatra-Medium.ttf') format('truetype'); /* Medium weight */
  font-weight: 500; /* Medium weight */
  font-style: normal;
}

@font-face {
  font-family: 'Alkatra';
  src: url('./fonts/Alkatra-VariableFont_wght.ttf') format('truetype'); /* Variable weight */
  font-weight: 100 900; /* Variable weight range */
  font-style: normal;
}

:root {
  /* Light theme variables */
  --background: #ffffff;
  --background-secondary: #f3f4f6;
  --foreground: #111827;
  --foreground-secondary: #4b5563;
  --primary: #b03030; /* Maroon */
  --primary-hover: #8a2424;
  --secondary: #007d4a; /* Dark green */
  --secondary-hover: #005f39;
  --accent: #d2b48c; /* Tan */
  --accent-hover: #c2a47c;
}

.dark {
  /* Dark theme variables */
  --background: #111827;
  --background-secondary: #1f2937;
  --foreground: #ffffff;
  --foreground-secondary: #9ca3af;
  --primary: #800000; /* Maroon */
  --primary-hover: #a80000;
  --secondary: #004d26; /* Dark green */
  --secondary-hover: #006837;
  --accent: #8b5e3c; /* Dark tan */
  --accent-hover: #6e462e;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: 'Alkatra', sans-serif;
}

/* Add these styles to customize the calendar appearance */
.react-calendar {
  width: 100%;
  max-width: 400px;
  background: var(--background);
  border: 1px solid var(--foreground-secondary);
  border-radius: 0.5rem;
  padding: 1rem;
}

.react-calendar__tile--active {
  background: #2563eb !important;
  color: white;
}

.react-calendar__tile--now {
  background: #484849;
}
